.navbar {
    background-color: white;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 8vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    box-shadow: 0 2px 8px rgba(0,0,0,0.07);
}